<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageos_seo_general>
            <og_tags>
                <enabled>1</enabled>
            </og_tags>
            <structured_data>
                <enabled>1</enabled>
                <default_product_template>GenericProduct</default_product_template>
                <category_item_list_enabled>1</category_item_list_enabled>
                <category_item_list_max>36</category_item_list_max>
                <has_variant_max>50</has_variant_max>
                <price_valid_until_months>12</price_valid_until_months>
                <aggregate_rating_enabled>1</aggregate_rating_enabled>
            </structured_data>
            <llms_txt>
                <enabled>1</enabled>
                <full_enabled>1</full_enabled>
            </llms_txt>
            <robots_meta>
                <product_default>INDEX,FOLLOW</product_default>
                <category_default>INDEX,FOLLOW</category_default>
                <cms_page_default>INDEX,FOLLOW</cms_page_default>
                <paginated_enabled>0</paginated_enabled>
                <paginated_robots>NOINDEX,FOLLOW</paginated_robots>
            </robots_meta>
            <hreflang>
                <enabled>1</enabled>
                <language_only_enabled>1</language_only_enabled>
                <sitemap_enabled>1</sitemap_enabled>
            </hreflang>
        </mageos_seo_general>
        <mageos_seo_merchant>
            <condition>
                <default_condition>https://schema.org/NewCondition</default_condition>
            </condition>
            <return>
                <enabled>0</enabled>
                <policy_category>https://schema.org/MerchantReturnFiniteReturnWindow</policy_category>
                <days>30</days>
                <fees>https://schema.org/FreeReturn</fees>
                <refund_type>https://schema.org/FullRefund</refund_type>
            </return>
            <shipping>
                <enabled>0</enabled>
            </shipping>
        </mageos_seo_merchant>
    </default>
</config>
